@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("./styles/background.css");
@import url("./styles/header.css");
@import url("./styles/main.css");
@import url("./styles/menuMob.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #edf1f7;
  --color-text-black: #252728;
  --red: #c51212;
  --yellow: #f4bf73;
  --font: "Roboto Mono", monospace;
}

body,
button,
a {
  font-family: var(--font);
  font-style: normal;
  color: var(--color-text);
}

a {
  text-decoration: none;
}

#content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}
@media (max-width: 1000px) {
  .div-img {
    display: none;
  }

  main.main {
    justify-content: center;
    text-align: center;
  }

  main.main-info p {
    font-size: 16px;
  }

  nav.navigation {
    display: none;
  }

  #content header {
    padding: 1.5rem 0;
  }
}

@media (max-width: 500px) {
  .main-info div.aos-init a,
  .main-info div.aos-init button {
    font-size: 12px;
  }

  .main-info p.aos-init {
    font-size: 14px;
  }

  #content header {
    padding: 0;
  }
}
